{% import const %}

{% set sku = product.orderd_sku %}
{% set rows_count = sum([len(sku[color]) for color in sku]) %}
{% set once = True %}
{% for color in sku %}
{% set color_once = True %}
{% for size in sku[color] %}
<tr data-id="{{ product.id }}", data-url="/product/{{product.id}}">
    {% if once %}
    <th rowspan={{rows_count}} class="deletable disselectable">1<span class="glyphicon glyphicon-trash"></span></th>
    <td rowspan={{rows_count}}><a href="http://detail.1688.com/offer/{{product.offer_id}}.html" target="_blank"><img src="/media/img/product/{{ product.offer_id }}.jpg" /></a></td>
    <td rowspan={{rows_count}}><a href="http://detail.1688.com/offer/{{product.offer_id}}.html" target="_blank">{{ product.subject or '' }}</a></td>
    <td rowspan={{rows_count}}>{{ product.code or '' }}</td>
    <td rowspan={{rows_count}} role="category" class="editable selectable">{{ product.category or ''}}</td>
    <td rowspan={{rows_count}} role="status" class="editable selectable">{{ product.status or ''}}</td>
    <td rowspan={{rows_count}}>{{ product.update_date or '' }}</td>
    {% end %}
    {% if color_once %}
    <td rowspan={{len(sku[color])}}>{{color}}</td>
    {% set color_once = False %}
    {% end %}
    <td>{{size}}</td>
    <td>{{'%.2f' % sku[color][size]['price']}}</td>
    <td>{{sku[color][size]['book_count']}}</td>
    <td>{{sku[color][size]['sale_count']}}</td>
    {% if once %}
    <td rowspan={{rows_count}} role="remarks" class="editable">{{ product.remarks or ''}}</td>
    {% set once = False %}
    {% end %}
</tr>
{% end %}
{% end %}
