<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-quiv="X-UA-Compatible" conten="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="淘宝代理宝贝库存更新管理系统。">
    <meta name="keywords" content="淘宝, 淘宝店, 1688, 阿里巴巴, 代理, 库存, 管理系统">
    <meta name="author" content="万万来 <mrwlwan@gmail.com>">
    <title>{% block title %}淘宝代理库存管理系统{% end %}</title>
    <link href="/static/css/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="/media/css.less" rel="stylesheet/less" type="text/css">
    {% block css %}{% end %}
</head>
<body>
{% block body_content %}{% end %}
<script src="/static/js/less-2.5.1.min.js"></script>
<script src="/static/js/mootools/mootools-core-1.5.2-compressed.js"></script>
{% block script %}{% end %}
</body>
</html>
