{% extends "../base.html" %}

{% block body_content %}
{% import itertools %}
{% set iteration=itertools.count(start_index) %}
{% module Template('ledia/modules/products_nav.html') %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {% module Template('ledia/modules/products_table.html', iteration=iteration, products=data) %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% module Template('modules/paginate.html', base_path='', page=page, max_page=max_page, start_index=start_index, count=count) %}
        </div>
    </div>
</div>
{% end %}

{% block script %}
<script src="/media/index.js"></script>
{% end %}
